
    <tr>
      <th scope="row"><%= mail.id%></th>
      <td id=object.<%=mail.id%>><a href='/emails/<%=mail.id%>' style="font-weight: 950;" data-method='GET' data-remote ='true' ><p><%=mail.object%></p></a></td>
      <td><% mail.body%></td>
    </tr>
    