
    <tr>
      <th scope="row"><%= mail.id%></th>
      <td id=object.<%=mail.id%>><a href='/emails/<%=mail.id%>' data-method='GET' data-remote ='true' ><%=mail.object%></a></td>
      <td><% mail.body%></td>
    </tr>
    